@use "@loki/fpo-ui/style/common/design.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;
@use "@loki/fpo-ui/style/search-block.scss" as *;

@use "./title-bar.scss" as *;
@use "./social-link.scss" as *;

.home-page {
  position: relative;

  .search-block {
    position: relative;
    top: calc($searchBlockHeight / -2);
    left: 50%;
    margin-left: calc($searchBlockWidth / -2);
  }

  .quick-start {
    @include flex(column, center, center);
    padding: 100px 0 110px 0;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      aspect-ratio: 18 / 4;
      background-image: radial-gradient(circle at center, rgb(255 154 46 / 100%) 1.5px, transparent 1px);
      background-size: 8px 8px;
      mask-image: radial-gradient(at center, #fff, transparent 72%);
      -webkit-mask-image: radial-gradient(at center, #fff, transparent 72%);
      opacity: 0.3;
      z-index: 0;
    }
  }
}

@include tablet {
  .home-page {
    .search-block {
      top: calc($searchBlockHeight-tablet / -2);
      margin-left: calc($searchBlockWidth-tablet / -2);
    }
  }
}
