@use "@loki/fpo-ui/style/common/design.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;
@use "@loki/fpo-ui/style/search-block.scss" as *;

@use "./title-bar.scss" as *;

.home-page {
  position: relative;

  .search-block {
    position: relative;
    top: calc($searchBlockHeight / -2);
    left: 50%;
    margin-left: calc($searchBlockWidth / -2);
  }

  .quick-start {
    margin: 50px 0 60px 0;
    @include flex(column, center, center);
  }
}
