@use "@loki/fpo-ui/style/common/design.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;
@use "@loki/fpo-ui/style/search-block.scss" as *;

.popup-header {
  @include flex(row, center, center);
  position: fixed;
  width: 100%;
  height: 42px;
  border-bottom: $borderSize solid $borderColor-2;
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-8);
  background-color: var(--gray-0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.draft-box-body {
  height: 600px;
  overflow-y: auto;
}

.draft-box-footer {
  @include flex(row, flex-end, center);
  margin-top: 20px;
}

.draft-item {
  @include flex(row, space-between, center);
  width: 100%;
  padding: 0 2px 12px 2px;
  border-bottom: $borderSize solid $borderColor-2;
  cursor: pointer;
  @extend .no-select;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  &:hover {
    .right {
      .bp-button {
        opacity: 1;
        transition: all 0.2s;
      }
    }
  }

  .left {
    width: 500px;

    &:hover {
      .title {
        color: var(--brand-6);
        transition: all 0.2s;
      }
    }

    .title {
      font-size: 15px;
      color: var(--gray-9);
      line-height: 1.8;
      font-weight: 500;
      letter-spacing: 0.5px;
      transition: all 0.2s;
      @extend .text-ellipsis;
    }

    .remark {
      @include flex(row, flex-start, center);
      gap: 8px;
      margin-top: 6px;
      font-size: 12px;
      color: var(--gray-4);
      font-weight: 400;
    }
  }

  .right {
    padding: 0 20px;

    &:hover {
      opacity: 1;
      transition: all 0.2s;
    }

    .bp-button {
      opacity: 0;
      transition: all 0.2s;
    }
  }
}

.draft-box-popup-body {
  height: calc(100% - 100px);
  overflow-y: auto;
  margin-top: 48px;
  padding: 0 12px;

  .van-pull-refresh {
    height: 100%;
    width: 100%;
  }

  .draft-item {
    .right {
      .bp-button {
        opacity: 1;
      }
    }
  }
}
