@use "@loki/fpo-ui/style/common/design.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;
@use "@loki/fpo-ui/style/search-block.scss" as *;

$labelWidth: 74px;

.write-page {
  &-container {
    @include flex(row, flex-start, flex-start);
    gap: 20px;
  }

  &-editor {
    flex: 1;
    padding: 20px 32px;
    background-color: var(--gray-0);
    border: $borderSize solid $borderColor-2;
    border-radius: 14px;
  }

  &-option {
    width: 260px;
    height: 400px;
    background-color: var(--gray-0);
    border: $borderSize solid $borderColor-2;
    border-radius: 14px;
  }

  &-form {
    width: 100%;
    @include flex(column, flex-start, flex-start);

    .bp-col {
      @include flex(row, flex-start, center);
      margin-bottom: 12px;
    }

    .no-line {
      border: none;
    }

    .public-config {
      .radio-bar {
        display: none;
      }
    }

    &-item {
      @include flex(row, flex-start, center);
      width: max-content;
      gap: 10px;
      flex: 1;
      border-bottom: 1px solid rgba(var(--gray-2-rgb), 0.3);

      &-label {
        text-align: left;
        font-size: 13px;
        line-height: 32px;
        color: var(--gray-6);
      }

      &-content {
        @include flex(row, flex-start, center);
        flex: 1;
      }

      .bp-input {
        background: none;
        border: none !important;
        border-radius: 0;
        padding: 0;

        &:hover {
          background: none;
        }
      }

      #yq-editor {
        width: 100%;
      }
    }

    .column-layout {
      width: 100%;
      @include flex(column, flex-start, flex-end);

      .word-count {
        font-size: 12px;
        color: var(--gray-6);
      }
    }
  }
}

@include tablet {
  .write-page {
    &-option {
      display: none;
    }
  }
}

@include mobile {
  .write-page {
    &-option {
      display: none;
    }

    &-form {
      .bp-col {
        padding: 0 !important;
        margin-bottom: 20px !important;
      }

      .public-config {
        .radio-bar {
          display: flex;
        }
      }

      &-item {
        gap: 4px;

        .public-type-selector {
          display: none;
        }

        .ne-editor {
          width: 300px;

          .ant-popover-inner {
            overflow: auto;
          }

          .ne-editor-box,
          .ne-editor-wrap-content,
          .ne-editor-outer-wrap-box,
          .ne-editor-wrap-box {
            overflow-x: hidden;
            width: 100%;
            min-width: 100%;

            .ne-engine {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
