@use "@loki/fpo-ui/style/common/design.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;
@use "@loki/fpo-ui/style/search-block.scss" as *;

.public-page {
  @include flex(row, center, center);
  gap: 10px;
  width: 100%;
}

.letter-wall {
  margin: 0 auto;

  .letter-item {
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      border-color: var(--gray-2);
      transition: all 0.2s ease;
    }
  }
}
