@use "@loki/fpo-ui/style/common/design.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;

.top-bar {
  @include flex(row, center, center);
  width: 100%;
  height: $topBarHeight;
  box-sizing: border-box;
  border-bottom: $borderSize solid $borderColor-2;
  background-color: var(--gray-0);

  &-inner {
    @include flex(row, space-between, center);
    width: $appWidth;
    height: $topBarHeight;
    // background-color: var(--primary-1);
  }
}
