:root {
  --brand-1: #fff7e8;
  --brand-2: #ffe4ba;
  --brand-3: #ffcf8b;
  --brand-4: #ffb65d;
  --brand-5: #ff9a2e;
  --brand-6: #ff7d00;
  --brand-7: #d25f00;
  --brand-8: #a64500;
  --brand-9: #792e00;
  --brand-10: #4d1b00;

  // dark
  --brand-dark-1: #4d1b00;
  --brand-dark-2: #793004;
  --brand-dark-3: #a64b0a;
  --brand-dark-4: #d26913;
  --brand-dark-5: #ff8d1f;
  --brand-dark-6: #ff9626;
  --brand-dark-7: #ffb357;
  --brand-dark-8: #ffcd87;
  --brand-dark-9: #ffe3b8;
  --brand-dark-10: #fff7e8;

  // RGB
  --brand-1-rgb: 255, 247, 232;
  --brand-2-rgb: 255, 228, 186;
  --brand-3-rgb: 255, 207, 139;
  --brand-4-rgb: 255, 182, 93;
  --brand-5-rgb: 255, 154, 46;
  --brand-6-rgb: 255, 125, 0;
  --brand-7-rgb: 210, 95, 0;
  --brand-8-rgb: 166, 69, 0;
  --brand-9-rgb: 121, 46, 0;
  --brand-10-rgb: 77, 27, 0;
}
