:root {
  --brand-1: #fff2e5;
  --brand-2: #ffe5cc;
  --brand-3: #ffcb99;
  --brand-4: #ffb166;
  --brand-5: #ff9733;
  --brand-6: #ff7d00;
  --brand-7: #cc6400;
  --brand-8: #994b00;
  --brand-9: #663200;
  --brand-10: #331900;

  // dark
  --brand-dark-1: #331900;
  --brand-dark-2: #663200;
  --brand-dark-3: #994b00;
  --brand-dark-4: #cc6400;
  --brand-dark-5: #ff7d00;
  --brand-dark-6: #ff9733;
  --brand-dark-7: #ffb166;
  --brand-dark-8: #ffcb99;
  --brand-dark-9: #ffe5cc;
  --brand-dark-10: #fff2e5;

  // RGB
  --brand-1-rgb: 255, 242, 229;
  --brand-2-rgb: 255, 229, 204;
  --brand-3-rgb: 255, 203, 153;
  --brand-4-rgb: 255, 177, 102;
  --brand-5-rgb: 255, 151, 51;
  --brand-6-rgb: 255, 125, 0;
  --brand-7-rgb: 204, 100, 0;
  --brand-8-rgb: 153, 75, 0;
  --brand-9-rgb: 102, 50, 0;
  --brand-10-rgb: 51, 25, 0;

  --brand-dark-1-rgb: 51, 25, 0;
  --brand-dark-2-rgb: 102, 50, 0;
  --brand-dark-3-rgb: 153, 75, 0;
  --brand-dark-4-rgb: 204, 100, 0;
  --brand-dark-5-rgb: 255, 125, 0;
  --brand-dark-6-rgb: 255, 151, 51;
  --brand-dark-7-rgb: 255, 177, 102;
  --brand-dark-8-rgb: 255, 203, 153;
  --brand-dark-9-rgb: 255, 229, 204;
  --brand-dark-10-rgb: 255, 242, 229;
}

.dark {
  --brand-1: var(--brand-dark-1);
  --brand-2: var(--brand-dark-2);
  --brand-3: var(--brand-dark-3);
  --brand-4: var(--brand-dark-4);
  --brand-5: var(--brand-dark-5);
  --brand-6: var(--brand-dark-6);
  --brand-7: var(--brand-dark-7);
  --brand-8: var(--brand-dark-8);
  --brand-9: var(--brand-dark-9);
  --brand-10: var(--brand-dark-10);
}