/**
 * BP Colors
 * -------------------------------------------------------------------------- */
:root {
  --primary-1: #e8f3ff;
  --primary-2: #bedaff;
  --primary-3: #94bfff;
  --primary-4: #6aa1ff;
  --primary-5: #4080ff;
  --primary-6: #165dff;
  --primary-7: #0e42d2;
  --primary-8: #072ca6;
  --primary-9: #031a79;
  --primary-10: #000d4d;

  --danger-1: #ffece8;
  --danger-2: #fdcdc5;
  --danger-3: #fbaca3;
  --danger-4: #f98981;
  --danger-5: #f76560;
  --danger-6: #f53f3f;
  --danger-7: #cb272d;
  --danger-8: #a1151e;
  --danger-9: #770813;
  --danger-10: #4d000a;

  --warning-1: #fff7e8;
  --warning-2: #ffe4ba;
  --warning-3: #ffcf8b;
  --warning-4: #ffb65d;
  --warning-5: #ff9a2e;
  --warning-6: #ff7d00;
  --warning-7: #d25f00;
  --warning-8: #a64500;
  --warning-9: #792e00;
  --warning-10: #4d1b00;

  --success-1: #e8ffea;
  --success-2: #aff0b5;
  --success-3: #7be188;
  --success-4: #4cd263;
  --success-5: #23c343;
  --success-6: #00b42a;
  --success-7: #009a29;
  --success-8: #008026;
  --success-9: #006622;
  --success-10: #004d1c;

  --gray-0: #ffffff;
  --gray-1: #f6f6f6;
  --gray-2: #dfdfdf;
  --gray-3: #c5c5c5;
  --gray-4: #ababac;
  --gray-5: #929293;
  --gray-6: #78787a;
  --gray-7: #5f5f60;
  --gray-8: #484849;
  --gray-9: #2e2e30;
  --gray-10: #17171a;

  // dark
  --primary-dark-1: #000d4d;
  --primary-dark-2: #041b79;
  --primary-dark-3: #0e32a6;
  --primary-dark-4: #1d4dd2;
  --primary-dark-5: #306fff;
  --primary-dark-6: #3c7eff;
  --primary-dark-7: #689fff;
  --primary-dark-8: #93beff;
  --primary-dark-9: #bedaff;
  --primary-dark-10: #eaf4ff;

  --danger-dark-1: #4d000a;
  --danger-dark-2: #770611;
  --danger-dark-3: #a1161f;
  --danger-dark-4: #cb2e34;
  --danger-dark-5: #f54e4e;
  --danger-dark-6: #f76965;
  --danger-dark-7: #f98d86;
  --danger-dark-8: #fbb0a7;
  --danger-dark-9: #fdd1ca;
  --danger-dark-10: #fff0ec;

  --warning-dark-1: #4d1b00;
  --warning-dark-2: #793004;
  --warning-dark-3: #a64b0a;
  --warning-dark-4: #d26913;
  --warning-dark-5: #ff8d1f;
  --warning-dark-6: #ff9626;
  --warning-dark-7: #ffb357;
  --warning-dark-8: #ffcd87;
  --warning-dark-9: #ffe3b8;
  --warning-dark-10: #fff7e8;

  --success-dark-1: #004d1c;
  --success-dark-2: #046625;
  --success-dark-3: #0a802d;
  --success-dark-4: #129a37;
  --success-dark-5: #1db440;
  --success-dark-6: #27c346;
  --success-dark-7: #50d266;
  --success-dark-8: #7ee18b;
  --success-dark-9: #b2f0b7;
  --success-dark-10: #ebffec;

  --gray-dark-0: #17171a;
  --gray-dark-1: #2e2e30;
  --gray-dark-2: #484849;
  --gray-dark-3: #5f5f60;
  --gray-dark-4: #78787a;
  --gray-dark-5: #929293;
  --gray-dark-6: #ababac;
  --gray-dark-7: #c5c5c5;
  --gray-dark-8: #dfdfdf;
  --gray-dark-9: #f6f6f6;
  --gray-dark-10: #ffffff;

  // ------------------------------------- RGB ------------------------------------- 
  --primary-1-rgb: 232, 243, 255;
  --primary-2-rgb: 190, 218, 255;
  --primary-3-rgb: 148, 191, 255;
  --primary-4-rgb: 106, 161, 255;
  --primary-5-rgb: 64, 128, 255;
  --primary-6-rgb: 22, 93, 255;
  --primary-7-rgb: 14, 66, 210;
  --primary-8-rgb: 7, 44, 166;
  --primary-9-rgb: 3, 26, 121;
  --primary-10-rgb: 0, 13, 77;

  --danger-1-rgb: 255, 236, 232;
  --danger-2-rgb: 253, 205, 197;
  --danger-3-rgb: 251, 172, 163;
  --danger-4-rgb: 249, 137, 129;
  --danger-5-rgb: 247, 101, 96;
  --danger-6-rgb: 245, 63, 63;
  --danger-7-rgb: 203, 39, 45;
  --danger-8-rgb: 161, 21, 30;
  --danger-9-rgb: 119, 8, 19;
  --danger-10-rgb: 77, 0, 10;

  --warning-1-rgb: 255, 247, 232;
  --warning-2-rgb: 255, 228, 186;
  --warning-3-rgb: 255, 207, 139;
  --warning-4-rgb: 255, 182, 93;
  --warning-5-rgb: 255, 154, 46;
  --warning-6-rgb: 255, 125, 0;
  --warning-7-rgb: 210, 95, 0;
  --warning-8-rgb: 166, 69, 0;
  --warning-9-rgb: 121, 46, 0;
  --warning-10-rgb: 77, 27, 0;

  --success-1-rgb: 232, 255, 234;
  --success-2-rgb: 175, 240, 181;
  --success-3-rgb: 123, 225, 136;
  --success-4-rgb: 76, 210, 99;
  --success-5-rgb: 35, 195, 67;
  --success-6-rgb: 0, 180, 42;
  --success-7-rgb: 0, 154, 41;
  --success-8-rgb: 0, 128, 38;
  --success-9-rgb: 0, 102, 34;
  --success-10-rgb: 0, 77, 28;

  --gray-0-rgb: 255, 255, 255;
  --gray-1-rgb: 246, 246, 246;
  --gray-2-rgb: 223, 223, 223;
  --gray-3-rgb: 197, 197, 197;
  --gray-4-rgb: 171, 171, 172;
  --gray-5-rgb: 146, 146, 147;
  --gray-6-rgb: 120, 120, 122;
  --gray-7-rgb: 95, 95, 96;
  --gray-8-rgb: 72, 72, 73;
  --gray-9-rgb: 46, 46, 48;
  --gray-10-rgb: 23, 23, 26;

  --primary-dark-1-rgb: 0, 13, 77;
  --primary-dark-2-rgb: 4, 27, 121;
  --primary-dark-3-rgb: 14, 50, 166;
  --primary-dark-4-rgb: 29, 77, 210;
  --primary-dark-5-rgb: 48, 111, 255;
  --primary-dark-6-rgb: 60, 126, 255;
  --primary-dark-7-rgb: 104, 159, 255;
  --primary-dark-8-rgb: 147, 190, 255;
  --primary-dark-9-rgb: 190, 218, 255;
  --primary-dark-10-rgb: 234, 244, 255;

  --danger-dark-1-rgb: 77, 0, 10;
  --danger-dark-2-rgb: 119, 6, 17;
  --danger-dark-3-rgb: 161, 22, 31;
  --danger-dark-4-rgb: 203, 46, 52;
  --danger-dark-5-rgb: 245, 78, 78;
  --danger-dark-6-rgb: 247, 105, 101;
  --danger-dark-7-rgb: 249, 141, 134;
  --danger-dark-8-rgb: 251, 176, 167;
  --danger-dark-9-rgb: 253, 209, 202;
  --danger-dark-10-rgb: 255, 240, 236;

  --warning-dark-1-rgb: 77, 27, 0;
  --warning-dark-2-rgb: 121, 48, 4;
  --warning-dark-3-rgb: 166, 75, 10;
  --warning-dark-4-rgb: 210, 105, 19;
  --warning-dark-5-rgb: 255, 141, 31;
  --warning-dark-6-rgb: 255, 150, 38;
  --warning-dark-7-rgb: 255, 179, 87;
  --warning-dark-8-rgb: 255, 205, 135;
  --warning-dark-9-rgb: 255, 227, 184;
  --warning-dark-10-rgb: 255, 247, 232;

  --success-dark-1-rgb: 0, 77, 28;
  --success-dark-2-rgb: 4, 102, 37;
  --success-dark-3-rgb: 10, 128, 45;
  --success-dark-4-rgb: 18, 154, 55;
  --success-dark-5-rgb: 29, 180, 64;
  --success-dark-6-rgb: 39, 195, 70;
  --success-dark-7-rgb: 80, 210, 102;
  --success-dark-8-rgb: 126, 225, 139;
  --success-dark-9-rgb: 178, 240, 183;
  --success-dark-10-rgb: 235, 255, 236;

  --gray-dark-0-rgb: 23, 23, 26;
  --gray-dark-1-rgb: 46, 46, 48;
  --gray-dark-2-rgb: 72, 72, 73;
  --gray-dark-3-rgb: 95, 95, 96;
  --gray-dark-4-rgb: 120, 120, 122;
  --gray-dark-5-rgb: 146, 146, 147;
  --gray-dark-6-rgb: 171, 171, 172;
  --gray-dark-7-rgb: 197, 197, 197;
  --gray-dark-8-rgb: 223, 223, 223;
  --gray-dark-9-rgb: 246, 246, 246;
  --gray-dark-10-rgb: 255, 255, 255;
}

.dark {
  --primary-1: var(--primary-dark-1);
  --primary-2: var(--primary-dark-2);
  --primary-3: var(--primary-dark-3);
  --primary-4: var(--primary-dark-4);
  --primary-5: var(--primary-dark-5);
  --primary-6: var(--primary-dark-6);
  --primary-7: var(--primary-dark-7);
  --primary-8: var(--primary-dark-8);
  --primary-9: var(--primary-dark-9);
  --primary-10: var(--primary-dark-10);

  --warning-1: var(--warning-dark-1);
  --warning-2: var(--warning-dark-2);
  --warning-3: var(--warning-dark-3);
  --warning-4: var(--warning-dark-4);
  --warning-5: var(--warning-dark-5);
  --warning-6: var(--warning-dark-6);
  --warning-7: var(--warning-dark-7);
  --warning-8: var(--warning-dark-8);
  --warning-9: var(--warning-dark-9);
  --warning-10: var(--warning-dark-10);

  --success-1: var(--success-dark-1);
  --success-2: var(--success-dark-2);
  --success-3: var(--success-dark-3);
  --success-4: var(--success-dark-4);
  --success-5: var(--success-dark-5);
  --success-6: var(--success-dark-6);
  --success-7: var(--success-dark-7);
  --success-8: var(--success-dark-8);
  --success-9: var(--success-dark-9);
  --success-10: var(--success-dark-10);

  --danger-1: var(--danger-dark-1);
  --danger-2: var(--danger-dark-2);
  --danger-3: var(--danger-dark-3);
  --danger-4: var(--danger-dark-4);
  --danger-5: var(--danger-dark-5);
  --danger-6: var(--danger-dark-6);
  --danger-7: var(--danger-dark-7);
  --danger-8: var(--danger-dark-8);
  --danger-9: var(--danger-dark-9);
  --danger-10: var(--danger-dark-10);

  --gray-0: var(--gray-dark-0);
  --gray-1: var(--gray-dark-1);
  --gray-2: var(--gray-dark-2);
  --gray-3: var(--gray-dark-3);
  --gray-4: var(--gray-dark-4);
  --gray-5: var(--gray-dark-5);
  --gray-6: var(--gray-dark-6);
  --gray-7: var(--gray-dark-7);
  --gray-8: var(--gray-dark-8);
  --gray-9: var(--gray-dark-9);
  --gray-10: var(--gray-dark-10);

  --primary-1-rgb: var(--primary-dark-1-rgb);
  --primary-2-rgb: var(--primary-dark-2-rgb);
  --primary-3-rgb: var(--primary-dark-3-rgb);
  --primary-4-rgb: var(--primary-dark-4-rgb);
  --primary-5-rgb: var(--primary-dark-5-rgb);
  --primary-6-rgb: var(--primary-dark-6-rgb);
  --primary-7-rgb: var(--primary-dark-7-rgb);
  --primary-8-rgb: var(--primary-dark-8-rgb);
  --primary-9-rgb: var(--primary-dark-9-rgb);
  --primary-10-rgb: var(--primary-dark-10-rgb);

  --warning-1-rgb: var(--warning-dark-1-rgb);
  --warning-2-rgb: var(--warning-dark-2-rgb);
  --warning-3-rgb: var(--warning-dark-3-rgb);
  --warning-4-rgb: var(--warning-dark-4-rgb);
  --warning-5-rgb: var(--warning-dark-5-rgb);
  --warning-6-rgb: var(--warning-dark-6-rgb);
  --warning-7-rgb: var(--warning-dark-7-rgb);
  --warning-8-rgb: var(--warning-dark-8-rgb);
  --warning-9-rgb: var(--warning-dark-9-rgb);
  --warning-10-rgb: var(--warning-dark-10-rgb);

  --success-1-rgb: var(--success-dark-1-rgb);
  --success-2-rgb: var(--success-dark-2-rgb);
  --success-3-rgb: var(--success-dark-3-rgb);
  --success-4-rgb: var(--success-dark-4-rgb);
  --success-5-rgb: var(--success-dark-5-rgb);
  --success-6-rgb: var(--success-dark-6-rgb);
  --success-7-rgb: var(--success-dark-7-rgb);
  --success-8-rgb: var(--success-dark-8-rgb);
  --success-9-rgb: var(--success-dark-9-rgb);
  --success-10-rgb: var(--success-dark-10-rgb);

  --danger-1-rgb: var(--danger-dark-1-rgb);
  --danger-2-rgb: var(--danger-dark-2-rgb);
  --danger-3-rgb: var(--danger-dark-3-rgb);
  --danger-4-rgb: var(--danger-dark-4-rgb);
  --danger-5-rgb: var(--danger-dark-5-rgb);
  --danger-6-rgb: var(--danger-dark-6-rgb);
  --danger-7-rgb: var(--danger-dark-7-rgb);
  --danger-8-rgb: var(--danger-dark-8-rgb);
  --danger-9-rgb: var(--danger-dark-9-rgb);
  --danger-10-rgb: var(--danger-dark-10-rgb);

  --gray-0-rgb: var(--gray-dark-0-rgb);
  --gray-1-rgb: var(--gray-dark-1-rgb);
  --gray-2-rgb: var(--gray-dark-2-rgb);
  --gray-3-rgb: var(--gray-dark-3-rgb);
  --gray-4-rgb: var(--gray-dark-4-rgb);
  --gray-5-rgb: var(--gray-dark-5-rgb);
  --gray-6-rgb: var(--gray-dark-6-rgb);
  --gray-7-rgb: var(--gray-dark-7-rgb);
  --gray-8-rgb: var(--gray-dark-8-rgb);
  --gray-9-rgb: var(--gray-dark-9-rgb);
  --gray-10-rgb: var(--gray-dark-10-rgb);
}
