@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;

.banner-block {
  @include flex(column, center, center);
  width: 1200px;
  height: 400px;
  background-color: var(--warning-2);
  border-radius: 16px;
  border: $borderSize solid $borderColor-2;
}
