@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;
@use "./common/extend.scss" as *;

.comment-editor {
  &-inner {
    @include flex(row, flex-start, center);
    gap: 10px;
  }

  &-option {
    @include flex(row, flex-end, center);
    height: 0px;
    margin-top: 10px;
    overflow-y: hidden;
    transition: all 0.2s ease-in-out;
  }

  .option-open {
    height: 28px;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
  }
}
