@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;
@use "./common/extend.scss" as *;

.comment-list {
  &-header {
    @include flex(column, flex-start, flex-end);
    margin-bottom: 10px;

    &-inner {
      font-size: 13px;
      color: var(--gray-6);
    }
  }

  .comment-item {
    @include flex(row, flex-start, flex-start);
    margin-bottom: 20px;

    &-content {
      @include flex(column, center, flex-start);
      margin-left: 6px;
      padding: 4px;
    }

    &-name {
      font-size: 14px;
      font-weight: 600;
      color: var(--gray-9);
      width: 200px;
      @extend .text-ellipsis;
    }

    &-inner {
      margin-top: 6px;
      font-size: 14px;
      font-weight: 400;
      color: var(--gray-8);
      line-height: 1.6;
      word-break: break-all;
    }

    &-expand-reply {
      font-size: 12px;
      color: var(--gary-8);
      margin-top: 6px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: var(--brand-6);
        transition: all 0.2s;
      }
    }

    &-footer {
      @include flex(row, flex-start, center);
      gap: 6px;
      margin-top: 4px;
      color: var(--gray-5);
      transition: all 0.2s;

      .bp-icon {
        fill: var(--gray-5);
        margin-right: 2px;
        transition: all 0.2s;
      }

      span {
        @include flex(row, flex-start, center);
        font-size: 12px;
        font-weight: 400;
      }

      .comment {
        color: var(--gray-7);
        cursor: pointer;

        .bp-icon {
          fill: var(--gray-7);
        }

        &:hover {
          color: var(--brand-6);
          transition: all 0.2s;

          .bp-icon {
            fill: var(--brand-6);
            transition: all 0.2s;
          }
        }
      }
    }
  }
}
