@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;
@use "./common/extend.scss" as *;

.comment-editor {
  .reply-info {
    margin-bottom: 10px;

    &-inner {
      font-size: 13px;
      color: var(--gray-6);
      @extend .text-ellipsis;
    }

    &-content {
      width: 260px;
      font-size: 13px;
      color: var(--gray-8);
      line-height: 1.8;
      @extend .text-ellipsis;
    }
  }

  &-inner {
    @include flex(row, space-between, center);
    gap: 6px;
  }

  &-option {
    @include flex(row, flex-end, center);
    height: 0px;
    margin-top: 10px;
    overflow-y: hidden;
    transition: all 0.2s ease-in-out;
  }

  .option-open {
    height: 28px;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
  }
}
