@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;
@use "./common/extend.scss" as *;

$normalWidth: 289.5px;
$normalHeight: 210px;

.letter-item {
  @include flex(column, flex-start, stretch);
  gap: 4px;
  width: $normalWidth;
  height: $normalHeight;
  background-color: var(--gray-0);
  border-radius: 12px;
  border: $borderSize solid $borderColor-2;
  padding: 12px;
  margin-bottom: 14px;
  cursor: pointer;
  @extend .no-select;
  transition: all 0.2s ease;

  .header {
    @include flex(row, space-between, center);

    .sender-info {
      @include flex(row, flex-start, center);
      gap: 8px;

      .bp-avatar {
        border: $borderSize solid $borderColor-2;
      }

      .sender-name {
        &-inner {
          display: block;
          font-size: 14px;
          font-weight: 500;
          color: var(--gray-9);
          letter-spacing: 0.5px;
          width: calc($normalWidth - 160px);
          @extend .text-ellipsis;
        }
      }
    }

    .time-ago {
      font-size: 12px;
      color: var(--gray-4);
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }

  .body {
    @include flex(column, center, center);
    flex: 1;
    width: 100%;
    text-align: justify;

    .letter-to {
      font-size: 12px;
      color: var(--gray-6);
      text-align: center;
      width: 80%;
      @extend .text-ellipsis;
    }

    .letter-title {
      font-size: 14px;
      color: var(--gray-9);
      margin-top: 10px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 1.6;
      @extend .text-ellipsis-2;
    }
  }

  .footer {
    @include flex(row, space-between, center);
    gap: 8px;

    .public-no {
      &-inner {
        font-size: 11px;
        color: var(--gray-4);
        font-weight: 500;
        letter-spacing: 1px;
        padding-left: 4px;
        text-transform: uppercase;
        @extend .font-quick;
      }
    }

    .statistic {
      @include flex(row, center, center);
      gap: 12px;
      transform: scale(0.9);

      &-item {
        @include flex(row, flex-start, center);
        font-size: 12px;
        color: var(--primary-6);

        svg[class*="-icon-"] {
          fill: var(--primary-6);
          margin-right: 4px;
        }
      }
    }
  }
}

.letter-item-size-small {
  width: calc($normalWidth / 1.4);
  height: calc($normalHeight / 2);

  .header {
    .sender-info {
      .sender-name {
        &-inner {
          width: calc($normalWidth / 1.6 - 80px);
        }
      }
    }
  }
}
