@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;
@use "./common/extend.scss" as *;

.radio-bar {
  @include flex(row, center, center);
  width: max-content;
  @extend .no-select;

  .active {
    font-weight: 500;
    transition: all 0.2s;
  }

  &-item {
    @include flex(row, center, center);
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 1.2;
    cursor: pointer;
    transition: all 0.2s;
  }
}

.radio-bar-theme-default {
  background-color: var(--gray-0);
  border: $borderSize solid $borderColor-2;

  .radio-bar-item {
    background-color: var(--gray-0);
    border: $borderSize solid var(--gray-1);
    color: var(--gray-9);

    &:hover {
      background-color: var(--primary-1);
      border: $borderSize solid var(--primary-3);
      transition: all 0.2s;
    }
  }

  .active {
    color: var(--gray-0);
    background-color: var(--brand-6);
    border: $borderSize solid var(--brand-6);
    transition: all 0.2s;

    &:hover {
      color: var(--gray-0);
      background-color: var(--brand-6);
      border: $borderSize solid var(--brand-6);
    }
  }
}

.radio-bar-theme-gray {
  background-color: var(--gray-1);
  border: $borderSize solid $borderColor-2;

  .radio-bar-item {
    background-color: var(--gray-1);
    border: $borderSize solid var(--gray-1);
    color: var(--gray-9);

    &:hover {
      background-color: var(--primary-1);
      border: $borderSize solid var(--primary-3);
      transition: all 0.2s;
    }
  }

  .active {
    color: var(--gray-0);
    background-color: var(--brand-6);
    border: $borderSize solid var(--brand-6);
    transition: all 0.2s;

    &:hover {
      color: var(--gray-0);
      background-color: var(--brand-6);
      border: $borderSize solid var(--brand-6);
    }
  }
}

.radio-bar-size-default {
  gap: 6px;
  padding: 7px 10px;
  border-radius: 50px;

  .radio-bar-item {
    height: 28px;
    padding: 0 11px;
    border-radius: 50px;
    font-size: 14px;
  }
}

.radio-bar-size-small {
  gap: 4px;
  padding: 4px 6px;
  border-radius: 50px;

  .radio-bar-item {
    height: 22px;
    padding: 0 6px;
    border-radius: 50px;
    font-size: 13px;
  }
}
