@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;
@use "./common/extend.scss" as *;

$searchBlockWidth: 740px;
$searchBlockHeight: 60px;
$searchIconSize: 23px;
$searchGap: 12px;
$searchPadding: 10px 24px;
$searchFontSize: 18px;

$searchBlockWidth-tablet: 680px;
$searchBlockHeight-tablet: 52px;
$searchIconSize-tablet: 20px;
$searchGap-tablet: 10px;
$searchPadding-tablet: 10px 20px;
$searchFontSize-tablet: 16px;

$searchBlockWidth-mobile: 74%;
$searchBlockHeight-mobile: 42px;
$searchIconSize-mobile: 16px;
$searchGap-mobile: 6px;
$searchPadding-mobile: 0 14px;
$searchFontSize-mobile: 13px;

.search-block {
  @include flex(row, flex-start, center);
  width: $searchBlockWidth;
  height: $searchBlockHeight;
  background-color: var(--gray-0);
  border-radius: $searchBlockHeight;
  border: $borderSize solid $borderColor-2;
  padding: $searchPadding;
  gap: $searchGap;
  opacity: 0.85;
  transition: all 0.2s;

  svg[class*="-icon-"] {
    width: $searchIconSize !important;
    height: $searchIconSize !important;
    fill: var(--gray-6);
    transition: all 0.2s;
  }

  &-input {
    flex: 1;
    height: 100%;

    input {
      width: 100%;
      height: 100%;
      font-size: $searchFontSize;
      color: var(--gray-9);
      font-weight: 500;
      letter-spacing: 1px;
      @extend .font-quick !optional;

      &::placeholder {
        color: var(--bp-gray-5);
        vertical-align: align;
        font-weight: 400;
        font-size: $searchFontSize;
      }
    }
  }
}

.search-block-focus {
  opacity: 1;
  box-shadow: 0 4px 16px #0000000d;
  transition: all 0.2s;

  svg[class*="-icon-"] {
    fill: var(--primary-6);
    transition: all 0.2s;
  }
}

@include tablet {
  .search-block {
    width: $searchBlockWidth-tablet;
    height: $searchBlockHeight-tablet;
    border-radius: $searchBlockHeight-tablet;
    padding: $searchPadding-tablet;
    gap: $searchGap-tablet;

    svg[class*="-icon-"] {
      width: $searchIconSize-tablet !important;
      height: $searchIconSize-tablet !important;
    }

    &-input {
      input {
        font-size: $searchFontSize-tablet;

        &::placeholder {
          font-size: $searchFontSize-tablet;
        }
      }
    }

    &-tip {
      .shortcut-key {
        display: none;
      }
    }
  }
}

@include mobile {
  .search-block {
    width: $searchBlockWidth-mobile;
    height: $searchBlockHeight-mobile;
    border-radius: $searchBlockHeight-mobile;
    padding: $searchPadding-mobile;
    gap: $searchGap-mobile;

    svg[class*="-icon-"] {
      width: $searchIconSize-mobile !important;
      height: $searchIconSize-mobile !important;
    }

    &-input {
      input {
        font-size: $searchFontSize-mobile;

        &::placeholder {
          font-size: $searchFontSize-mobile;
        }
      }
    }

    &-tip {
      .shortcut-key {
        display: none;
      }
    }
  }
}
