@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;
@use "./common/extend.scss" as *;

$searchBlockWidth: 740px;
$searchBlockHeight: 64px;

.search-block {
  @include flex(row, flex-start, center);
  width: $searchBlockWidth;
  height: $searchBlockHeight;
  background-color: var(--gray-0);
  border-radius: $searchBlockHeight;
  border: $borderSize solid $borderColor-2;
  padding: 10px 24px;
  gap: 12px;
  opacity: 0.85;
  transition: all 0.2s;

  svg[class*="-icon-"] {
    fill: var(--gray-6);
    transition: all 0.2s;
  }

  &-input {
    flex: 1;
    height: 100%;

    input {
      width: 100%;
      height: 100%;
      font-size: 18px;
      color: var(--gray-9);
      font-weight: 500;
      letter-spacing: 1px;
      @extend .font-quick !optional;
    }
  }

  &-tip {
    .shortcut-group {
      @include flex(row, flex-start, center);
      gap: 6px;
      color: var(--gray-6);
      font-size: 12px;
      @extend .font-quick !optional;

      .shortcut-split {
        opacity: .8;
      }

      .shortcut-key {
        @include flex(row, center, center);
        background-color: var(--gray-1);
        border: $borderSize solid var(--gray-2);
        padding: 3px 6px;
        border-radius: 4px;
        font-weight: 500;
      }
    }
  }
}

.search-block-focus {
  opacity: 1;
  box-shadow: 0 4px 16px #0000000d;
  transition: all 0.2s;

  svg[class*="-icon-"] {
    fill: var(--primary-6);
    transition: all 0.2s;
  }
}
