@use "./common/design.scss" as *;
@use "./common/mixins.scss" as *;
@use "./common/extend.scss" as *;

.shortcut-key {
  @include flex(row, flex-start, center);
  gap: 8px;
  color: var(--gray-7);
  font-size: 12px;
  @extend .font-quick !optional;

  .shortcut-item {
    @include flex(row, center, center);
    background-color: var(--gray-1);
    border: $borderSize solid var(--gray-2);
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 500;
  }
}
