@use "@loki/fpo-ui/style/common/design.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;

.activity-page {
  max-width: 640px;
  background-color: var(--gray-0);
  margin: 0 auto;
  overflow-y: auto;
  // overflow-x: hidden;
}
