@use "@loki/fpo-ui/style/common/extend.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;
@use "@loki/fpo-ui/style/common/design.scss" as *;

.login-modal-footer-info {
  text-align: center;
  padding: 40px 0 10px 0;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--bp-gray-3);
  font-weight: thin;
  @extend .no-select;
}

.login-popup {
  padding: 0 32px 24px 32px;

  &-header {
    @include flex(row, center, center);
    margin: 32px 0;
  }

  &-form {
    &-item {
      margin-bottom: 16px;

      &-content {
        .forgot-psw {
          @include flex(row, flex-end, center);
          margin-top: 6px;
        }
      }

      .bp-input,
      .bp-button {
        height: 40px;
        border-radius: 8px;
      }
    }
  }

  &-other {
    margin-top: 54px;
    @include flex(column, center, center);

    label {
      font-size: 12px;
      color: var(--bp-gray-4);
      letter-spacing: 0.4px;
      margin-bottom: 16px;
    }

    .thrid-login-list {
      .bp-icon {
        fill: var(--brand-6);
      }
    }
  }
}

.login-index {
  @include flex(row, space-between, center);

  &-header {
    @include flex(row, center, center);
    margin: 12px 0 30px 0;
  }

  &-form {
    flex: 1;

    &-item {
      @include flex(row, flex-start, center);

      &:not(:first-child) {
        margin-top: 20px;
      }

      label {
        font-size: 13px;
        color: var(--bp-gray-8);
      }

      &-content {
        width: 100%;

        .bp-input {
          input {
            font-size: 14px;

            &::placeholder {
              color: var(--bp-gray-4);
              font-size: 14px;
            }
          }
        }

        .forgot-psw {
          @include flex(row, flex-end, center);
          margin-top: 10px;
        }
      }

      .thrid-login-list {
        @include flex(row, flex-start, center);

        svg[class*="-icon-"] {
          fill: var(--bp-gray-8);
          border-radius: 50%;
          padding: 2px;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            background: var(--bp-gray-2);
            transition: all 0.2s;
          }
        }
      }
    }

    .btn-item {
      @include flex(row, space-between, center);

      .bp-button {
        font-size: 14px;
      }
    }
  }
}
