@use "@loki/fpo-ui/style/common/extend.scss" as *;
@use "@loki/fpo-ui/style/common/mixins.scss" as *;
@use "@loki/fpo-ui/style/common/design.scss" as *;

.login-modal-footer-info {
  text-align: center;
  padding: 40px 0 10px 0;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--bp-gray-3);
  font-weight: thin;
  @extend .no-select;
}

.login-index {
  @include flex(row, space-between, center);

  &-header {
    font-size: 14px;
    color: var(--bp-gray-8);
    font-weight: 600;
  }

  &-form {
    flex: 5;
    padding-right: 24px;

    &-item {
      @include flex(row, flex-start, center);

      &:not(:first-child) {
        margin-top: 20px;
      }

      label {
        font-size: 13px;
        color: var(--bp-gray-8);
      }

      &-content {
        width: 100%;

        .bp-input {
          input {
            font-size: 14px;

            &::placeholder {
              color: var(--bp-gray-4);
              font-size: 14px;
            }
          }
        }

        .forgot-psw {
          @include flex(row, flex-end, center);
          margin-top: 10px;
        }
      }

      .thrid-login-list {
        @include flex(row, flex-start, center);

        svg[class*="-icon-"] {
          fill: var(--bp-gray-8);
          border-radius: 50%;
          padding: 2px;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            background: var(--bp-gray-2);
            transition: all 0.2s;
          }
        }
      }
    }

    .btn-item {
      @include flex(row, space-between, center);

      .bp-button {
        font-size: 14px;
      }
    }
  }

  &-option {
    @include flex(row, center, center);
    flex: 4;
    border-left: $borderSize solid $borderColor-2;
    padding-left: 24px;

    .bg {
      width: 100%;
      height: 218.5px;
      border-radius: 8px;
      background-color: var(--brand-2);
    }
  }
}
